<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>02_Data</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>init_test</servlet-name>
		<servlet-class>com.data.controller.ex05.InitParamServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>test@email.com</param-value>
		</init-param>
		<init-param>
			<param-name>tel</param-name>
			<param-value>010-1234-5678</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>init_test</servlet-name>
		<url-pattern>/initparam.do</url-pattern>
	</servlet-mapping>
  
  
  
</web-app>